* {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* ------------ HEADER------------ */

.header {
  background-color: transparent;
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

.nav-toggle i {
  color: #3a0000;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  margin-left: 0px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 0px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: rgb(199, 82, 4);
  transition: 0.5s;
  color: #000;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;

  display: none;
}

strong {
  color: rgb(199, 82, 4);
}

.contenedor {
  position: relative;
  display: flex;
}

.texto1 {
  position: absolute;
  text-align: center;
  color: #fff;
  margin-left: 5px;
  margin-top: 70px;
}

/* ----------segunda parte de la pagina --------*/

.contenedor-segunda-parte {
  position: relative;
  height: 700px;
}

.nosotros {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto;
  bottom: 500px;
  background-color: rgb(34, 31, 31, 60%);
}

.nosotros h2 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.nosotros-span {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  text-align: justify;
  font-weight: 500;
}



/* ------------------ skills ------------------- */

.container-skills {
  width: 100%;
  height: 700px;
}

.container-skills-h2 h2 {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-weight: 800;
}

.tarjeta-skills {
  margin: auto;
  margin-top: 60px;
}

.container i {
  width: 150px;
  font-size: 100px;
  margin: auto;
  transition: all 0.3s ease;
}

.html {
  color: #ff5437;
}

.css {
  color: rgb(0, 0, 243);
}

.js {
  color: rgb(255, 255, 74);
}

.bt {
  color: rgb(110, 57, 255);
}

.git {
  color: #ff5437;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
}

.container i:hover {
  transform: scale(1.2);
}

/*----FOOTER----*/

.contenedor-footer {
  background-color: rgb(54, 42, 42);
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: column-reverse;
  padding: 25px;
  overflow: hidden;
}

.contenedor-footer {
  color: #fff;
}

/* servicios */

.texto1-servicios {
  position: absolute;
}

.texto1-servicios h2 {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-top: 60px;
}

.div-servicios-h2 h2 {
  color: #000;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
}

.contenedor-tarjeta {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  max-width: 600px;
  margin: auto;
}

.div-icono h3 {
  text-align: center;
}

.div-lista-tarjeta {
  display: flex;
  flex-direction: column;
}

.contenedor-tarjeta2 {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  max-width: 600px;
  background-color: antiquewhite;
}

.contenedor-tarjeta3 {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  max-width: 600px;
  background-color: antiquewhite;
}

.div-lista-tarjeta i {
  font-size: 17px;
}

.div-lista-tarjeta li {
  list-style: none;
}

/* contactanos */

.texto1-contactanos {
  position: absolute;
}

.texto1-contactanos h2 {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-top: 60px;
}

.div-container {
  background-color: rgb(229, 231, 235);
  height: 530px;
  width: 100%;

  margin-top: 100px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.418);
  max-width: 600px;
}

.div-container h2 {
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 12px;
}

.description strong {
  color: #ff5437;
}

.contacto-link {
  text-decoration: none;
}

.contacto-link:hover {
  background-color: rgba(255, 85, 55, 0.185);
}

.contacto-link::after {
  background-color: rgba(255, 85, 55, 0.185);
}

.form-contacto form input {
  width: 90%;
  padding: 10px;
  margin: 20px;
}

.form-contacto form button {
  background-color: #ff5437;
  color: #fff;
  border-radius: 6px;
  margin: auto;
  display: flex;
  padding: 5px 50px;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 2px;
  border: 0px;
}

.form-contacto input {
  border: none;
  border-bottom: 0.5px solid red;
  background-color: rgb(229, 231, 235);
  border-radius: 4px;
}

/* --------ADAPTACION DE TAMAÑOS-------*/
@media (max-width: 885px) {
  .header {
    height: 60px;
    z-index: 100;
  }

  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgb(56, 95, 146);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);

    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: #f78383;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}

@media only screen and (min-width: 768px) {
  .contenedor {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }

  .texto1 {
    text-align: center;
    position: absolute;
    padding: 500px;
  }

  .texto1 h1 {
    color: #fff;
    text-shadow: #000 6px 6px 6px;
    font-size: 50px;
    padding: 20px;
  }

  .texto1 p {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
    text-shadow: #000 2px 2px 4px;
  }

  strong {
    color: rgb(199, 82, 4);
  }
}

@media only screen and (min-width: 768px) {
  .img-fluid {
    display: flex;
    flex-direction: row;
  }

  .nosotros {
    width: 500px;
    height: 430px;
    border-radius: 20px;
    position: relative;
    padding: 40px 50px;
  }

  .nosotros h2 {
    text-align: center;
  }

  .nosotros p {
    text-align: center;

    font-size: 20px;
  }

  .nosotros-span {
    margin-top: 30px;
  }

  .contenedor-footer {
    background-color: rgb(54, 42, 42);
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
  }

  .contenedor-footer h2 {
    margin-top: 70px;
    margin-right: 40px;
    color: #fff;

    padding: 20px;
  }

  .div-footer-span {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .div-footer-span h3 {
    color: #fff;
    margin-left: 13px;
  }

  .div-footer-span span {
    color: #fff;
    margin: 15px;
  }

  .strong-footer {
    color: rgb(199, 82, 4);

    font-size: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .div-container {
    background-color: rgb(229, 231, 235);
    height: 530px;
    width: 100%;
    margin: auto;
    margin-top: 200px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.418);
    max-width: 600px;
  }

  .texto1-contactanos h2 {
    color: #fff;
    font-size: 50px;
    padding: 30px;
    text-align: center;
    margin-top: 50px;
  }

  .div-container h2 {
    text-align: center;
    font-size: 15px;
    color: #000;
    padding: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .texto1-servicios h2 {
    color: #fff;
    font-size: 50px;
    padding: 30px;
    margin-top: 40px;
  }

  .div-servicios-h2 h2 {
    color: #000;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 768px) {
  .container-skills {
    height: 1300px;
    margin-top: -200px;
  }

  .container-skills-h2 h2 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container i {
    margin: auto;
    padding: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .contenedor-segunda-parte {
    margin-top: 130px;
  }

  .img-segunda-parte {
    display: none;
  }

  .nosotros-imagenes img {
    width: 110px;
  }

  .nosotros-imagenes {
    margin: auto;
  }

  .nosotros {
    width: 100%;
    height: 280px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
  }

  .nosotros h2 {
    text-align: center;
    color: #000;
    font-size: 30px;
    font-weight: 1000;
  }

  .nosotros-span {
    margin-top: 30px;
    color: #000;
    font-size: 15px;
    text-align: justify;
    font-weight: 600;
    padding: 12px;
  }
}



@media only screen and (min-width:768px) {

  .nosotros-imagenes {
    display: none;
  }
  
}